.post {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    color: #333;
    font-size: 13pt;

    a {
        text-decoration: none;
        color: inherit;
    }
    
    .title {
        margin-left: 10px;

        .author {
            color: #999;
        }
    }
}

.post:hover {
    background-color: #fafafa;
}

@media (min-width: 768px) {
    
}